<h1>Welcome home friend</h1>

<section class="post-list">
  <% @posts.each do |post| %>
    <div class="single-post">
      <%= image_tag("profile-picture.webp", class: "profile-img")  %>
  <%# <%= link_to post_path(@post) do %> 
      <strong><%= post.name %></strong><br>
  <%# <% end %>
      <p>- <%= post.description %></p>
      <%= post.content %><br>
    </div>
  <% end %>
</section>
